header nav {
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        a {
            margin-right: 30px;
            text-decoration: none;
            color:#111111 ;
            font-size: 20px;
        }
        .name{
            font-size: 30px;
        }
        

    }
    
}